body {
    margin: 0px;
}

#heading {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #CCC;
}

a {
    color: #3388ff;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #333;
}

#latlng{
    color: #f1f1f1;
    height: 10%;
    z-index:999;
    position: fixed;
    left:10px;
    bottom:0   
}

.leaflet-canvas-layer {
    opacity: 0.55;
}