body {
    margin: 0px;
}

#heading {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #CCC;
}

a {
    color: #3388ff;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #333;
}

#latlng{
    color:  #333;
    height: 10%;
    z-index:999;
    position: fixed;
    left:45px;
    bottom:0
}

.leaflet-canvas-layer {
    opacity: 0.55;
}

.text-labels {
    font-size: 20px;
    font-weight: 200;
    color: #584b36;
    /* Use color, background, set margins for offset, etc */
}
